<Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="_exstraAssemeblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@code{
    public List<System.Reflection.Assembly> _exstraAssemeblies = new 
        List<System.Reflection.Assembly>
    {
    //TestMe can be any class in ProductManagementDatabase
        typeof(Blazor.Crm.Module.DatabaseManagement.Components.ExampleJsInterop).Assembly
    };
}